body{
    margin: 0;
    padding: 0;
}
/* CAROUSEL THAT SHOWS PRODUCTS IMAGES */
.product-imgs-content .carousel, .product-imgs-content .carousel img{
    width: 420px;
    height: 250px;
    z-index: 10;
    max-width: 100%;
    transition: all 0.4s linear;
}
.product-imgs-content .carousel img:hover{
    transform: scale(1.1);
}
/* Syling carousel indicators */
.product-imgs-content .carousel .carousel-indicators{
    position: absolute;
    width: 135px;
    margin: auto 0 auto 0;
    left: 0;
    top: auto;
    bottom: -10px;
}
.product-imgs-content .carousel .carousel-indicators li{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    transition: all 0.4s;
}
.product-imgs-content .carousel .carousel-indicators .active{
    border: 3px solid rgb(189, 172, 164);
    transition: all 0.3s;
}

/* This class is the container of Carousel */
.product-imgs-content {
    width: 422px;
    height: auto;
    padding: 0px;
    margin: 3px;
    border: 1px solid rgb(206, 206, 206);
    border-bottom: none;
    cursor: pointer;
    max-width: 100%;
}
.product-imgs-content:hover{
    border: 1px solid rgb(94, 91, 91);
    border-bottom: none;
}

/* STYLING: ADD TO WISH LIST BUTTON, PRODUCT TITLE AND PRICE AND ADD TO CART BUTTON */
.title-price-like_content{
    padding: 5px;
    max-width: 100%;
}
.title-price .col-12, .title-price-like_content{
    width: 420px;
}
/* Wish list button (heart) */
.wishlist-button .fa-heart-o{
    color: rgb(133, 255, 255);
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -37px;
    z-index: 20;
    overflow: visible;
}
.wishlist-button:hover .fa-heart-o::before{
    content: "\f004";
}
/* Title */
.title-price div span:nth-child(1){
    margin-left: 5px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Price */
.title-price div span:nth-child(2){
    max-width: 100%;
    margin-right: 0px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
/* .title-price div span:nth-child(2)::before{
    content: "$";
} */
/* Add to cart button */
.add-cart-btn{
    width: auto;
    height: 65px;
    padding: 2px;
    margin-top: -50px;
    max-width: 100%;
}
.add-cart-btn .btn-outline-info{
    width: 350px;
    border-radius: 0;
    border: 1px solid rgb(94, 91, 91);
    transform: translate(0, -95px);
    transition: all 0.4s linear;
}
/* Display "Add to cart" button when the mouse hover over product */
.product-container:hover .add-cart-btn .btn-outline-info{
    transform: translate(0, 0);
}

/* PAGINATION...PAGINATION...PAGINATION...PAGINATION...PAGINATION...PAGINATION...PAGINATION...PAGIN */
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    padding-bottom: 30px;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #979797 ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #c4c4c4 ;
    border-color: #de4747;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
/*Disable Next and Prev buttons in pagination */
  .disabledBtn{
      color: rgb(228, 228, 228);
  }

  /* HEADER HEADER HEADER HEADER HEADER HEADER */
  /* Navbar Items */
  .navItem{
      color: black;
      font-weight: bold;
      font-size: medium;
      padding: 24px 20px;
      background-color: transparent;
      border-radius: 0%;
      border: 0;
      width: 115px;
      text-align: center;
      transition: all 1s ease;
  }
  .navbar-light .navbar-nav .nav-link, .dropdownToggleLink {
    color: black;
    transition: all 1s ease;
   } 
   .navbar-light .navbar-nav .nav-link:hover, .dropdownItem:hover .dropdownToggleLink {
    color: rgb(84, 200, 230);
   } 
   .dropdownItem:hover, .itemHover:hover, .itemHover:focus,
   button.navItem.dropdownItem.btn.btn-secondary:active,
   button.navItem.dropdownItem.btn.btn-secondary:focus{
      background-color: #fafafa;
      border-right: 1px solid #d8d1ca;
      border-left: 1px solid #d8d1ca;
    }
    .itemHover::before {
        transition: all ease-in-out .4s;
        background: blue;
        content: "";
        display: block;
        height: 3px;
        width: 0;
    }
    .itemHover:hover::before {
        width: 100%;
    }

    .dropdownMenu{
        background-color: #fafafa;
        border-top: 0;
        border-bottom: 1px solid #d8d1ca;
        border-left: 1px solid #d8d1ca;
        border-right: 1px solid #d8d1ca;
        margin-left: -6px;
        border-radius: 0%;
    }
    /* .closeHamburger{
        width: 35px;
        height: 35px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M8 8 L24 24 M8 24 L24 8'/%3E%3C/svg%3E");
    } */
    .bg-light{
        background-color: #f7f7f7;
    }
    .navbar-collapse{
        z-index: 1;
    } 
    #navArea.is-sticky{
        display: flex;
        position: sticky;
        top: 0px;
        width: 100%;
        background: rgba(67, 60, 68, 0.664);
        transition: all 1s ease;
        z-index: 1000;
    }
    #navArea.is-sticky .navItem,
    #navArea.is-sticky .navbar-brand,
    #navArea.is-sticky .dropdownItem {
        padding: 5px 10px 5px 10px;
    }
    #navArea.is-sticky .dropdownItem:hover,
    #navArea.is-sticky .itemHover:hover{
        background-color: transparent;
    }

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */  
a, a:hover {
    text-decoration: none !important; 
}
  
.footer-39201 {
    padding-top: 4rem;
    color: #9d9d9d;
    background-color: #f7f7f7;
}
.footer-39201 .subscribe {
    position: relative;
    margin-top: -89px; 
}
.footer-39201 .subscribe .form-control {
    background-color: #e6e6e6;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    height: 55px;
    padding-left: 30px;
    padding-right: 130px;
    border: none;
    color: #000; 
}
.footer-39201 .subscribe .form-control::-webkit-input-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}
.footer-39201 .subscribe .form-control::-moz-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}
.footer-39201 .subscribe .form-control:-ms-input-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}
.footer-39201 .subscribe .form-control:-moz-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px;
}
.footer-39201 .subscribe .btn-submit {
    background: #614ad3;
    height: 40px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 7px;
    right: 7px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
}
.footer-39201 h3 {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    margin-bottom: 20px;
}
.footer-39201 .nav-links li {
    display: block;
    margin-bottom: 10px;
}
.footer-39201 .nav-links li a {
    color: #9d9d9d;
}
.footer-39201 .nav-links li a:hover {
    color: #614ad3;
}
.footer-39201 .social li {
    display: inline-block;
}
.footer-39201 .social li a {
    display: inline-block;
    padding: 10px;
    color: #9d9d9d;
}
.footer-39201 .social li a:hover {
    color: #614ad3;
}
 
/* Jumbotron text overlay image */
.titleOverlay{
    position: absolute;
    top: 20vw;
    left: 20vw;
    transform:  translate(-17vw, -40%);
    color: #FFFF;
    font-weight: bolder;
    font-family: 'lato-regular,sans-serif';
    font-size: 5vw;
    overflow: hidden;
    z-index: 0;
}


/* Styling Home Carousel */
.home-carousel .carousel-overlay{
  position:absolute;
  top: 0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
  width: 100%;
}
.home-carousel .carousel .carousel-indicators li{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin-inline-end: 10px;
    background-color: rgb(37, 124, 255);
}


/* RESPONSIVE STYLING */
@media screen and (max-width: 576px) {
    .product-imgs-content .carousel, .product-imgs-content .carousel img{
        width: 530px;
        height: 250px;
    }
    .title-price-like_content,
    .title-price .col-12{
        width: 530px;
    }
    .product-imgs-content{
        width: 532px;
    }
    .add-cart-btn .btn-outline-info{
        transform: translate(0,0);
        width: 100%;
    }

    .home-carousel .carousel img, #jumbotron_header img{
        height: 200px;
    }

    .titleOverlay{
        top: 150px;
        left: 20vw;
        transform: translate(-17vw, -40%);    
    }

}

@media screen and (max-width: 768px) {
    .add-cart-btn .btn{
        display: block;
        width: 100%;
    }
    /* Navbar Toggler */
    .navItem{
        padding: 8px 0;
        text-align: start;
    }
    .dropdownItem:hover{
        border: 0;
    }
    .dropdownItem::after{
        content: "\25bc";
        color:rgb(146, 143, 143);
    }

}