body {
    background: #eee;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* CAROUSEL THAT SHOWS PRODUCTS IMAGES */
.product-imgs-content .carousel, .product-imgs-content .carousel img{
    width: 420px;
    height: 250px;
    z-index: 10;
    max-width: 100%;
    transition: all 0.4s linear;
}
.product-imgs-content .carousel img:hover{
    transform: scale(1.1);
}
/* Syling carousel indicators */
.product-imgs-content .carousel .carousel-indicators{
    position: absolute;
    width: 135px;
    margin: auto 0 auto 0;
    left: 0;
    top: auto;
    bottom: -10px;
}
.product-imgs-content .carousel .carousel-indicators li{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    transition: all 0.4s;
}
.product-imgs-content .carousel .carousel-indicators .active{
    border: 3px solid rgb(189, 172, 164);
    transition: all 0.3s;
}

/* This class is the container of Carousel */
.product-imgs-content {
    width: 422px;
    height: auto;
    padding: 0px;
    margin: 3px;
    border: 1px solid rgb(206, 206, 206);
    border-bottom: none;
    cursor: pointer;
    max-width: 100%;
}
.product-imgs-content:hover{
    border: 1px solid rgb(94, 91, 91);
    border-bottom: none;
}

/* STYLING: ADD TO WISH LIST BUTTON, PRODUCT TITLE AND PRICE AND ADD TO CART BUTTON */
.title-price-like_content{
    padding: 5px;
    max-width: 100%;
}
.title-price .col-12, .title-price-like_content{
    width: 420px;
}
/* Wish list button (heart) */
.wishlist-button .fa-heart-o{
    color: rgb(133, 255, 255);
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -37px;
    z-index: 20;
    overflow: visible;
}
.wishlist-button:hover .fa-heart-o::before{
    content: "\f004";
}
/* Title */
.title-price div span:nth-child(1){
    margin-left: 5px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Price */
.title-price div span:nth-child(2){
    max-width: 100%;
    margin-right: 0px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
/* .title-price div span:nth-child(2)::before{
    content: "$";
} */
/* Add to cart button */
.add-cart-btn{
    width: auto;
    height: 65px;
    padding: 2px;
    margin-top: -50px;
    max-width: 100%;
}
.add-cart-btn .btn-outline-info{
    width: 350px;
    border-radius: 0;
    border: 1px solid rgb(94, 91, 91);
    transform: translate(0, -95px);
    transition: all 0.4s linear;
    text-transform: UPPERCASE;
  
}
/* Display "Add to cart" button when the mouse hover over product */
.product-container:hover .add-cart-btn .btn-outline-info{
    transform: translate(0, 0);
}

.add-cart-btn .added{
    padding: 11px 0;
    width: 350px;
    border-radius: 0;
    border: 1px solid rgb(94, 91, 91);
    text-transform: UPPERCASE;
}

/* PAGINATION...PAGINATION...PAGINATION...PAGINATION...PAGINATION...PAGINATION...PAGINATION...PAGIN */
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    padding-bottom: 30px;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #979797 ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #c4c4c4 ;
    border-color: #de4747;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
/*Disable Next and Prev buttons in pagination */
  .disabledBtn{
      color: rgb(228, 228, 228);
  }

  /* HEADER HEADER HEADER HEADER HEADER HEADER */
  /* Navbar Items */
  .navItem{
      color: white;
      font-weight: bold;
      font-size: medium;
      padding: 24px 20px;
      background-color: transparent;
      border-radius: 0%;
      border: 0;
      width: 115px;
      text-align: center;
      transition: all 1s ease;
  }
  .navbar-light .navbar-nav .nav-link, .dropdownToggleLink {
    color: white;
    transition: all 1s ease;
   } 
   .navbar-light .navbar-nav .nav-link:hover, .dropdownItem:hover .dropdownToggleLink {
    color: rgb(84, 200, 230);
   } 
   .dropdownItem:hover, .itemHover:hover, .itemHover:focus,
   button.navItem.dropdownItem.btn.btn-secondary:active,
   button.navItem.dropdownItem.btn.btn-secondary:focus{
      background-color: #fafafa;
      border-right: 1px solid #d8d1ca;
      border-left: 1px solid #d8d1ca;
    }
    .itemHover::before {
        transition: all ease-in-out .4s;
        background: blue;
        content: "";
        display: block;
        height: 3px;
        width: 0;
    }
    .itemHover:hover::before {
        width: 100%;
    }

    .dropdownMenu{
        background-color: #fafafa;
        border-top: 0;
        border-bottom: 1px solid #d8d1ca;
        border-left: 1px solid #d8d1ca;
        border-right: 1px solid #d8d1ca;
        margin-left: -6px;
        border-radius: 0%;
    }
    /* .closeHamburger{
        width: 35px;
        height: 35px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M8 8 L24 24 M8 24 L24 8'/%3E%3C/svg%3E");
    } */
    #navArea{
        background-color: #00031a;
    }
    .navbar-collapse{
        z-index: 1;
    } 
    #navArea.is-sticky{
        display: flex;
        position: sticky;
        top: 0px;
        width: 100%;
        background: rgba(67, 60, 68, 0.664);
        transition: all 1s ease;
        z-index: 1000;
    }
    #navArea.is-sticky .navItem,
    #navArea.is-sticky .navbar-brand,
    #navArea.is-sticky .dropdownItem {
        padding: 5px 10px 5px 10px;
    }
    #navArea.is-sticky .dropdownItem:hover,
    #navArea.is-sticky .itemHover:hover{
        background-color: transparent;
    }

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */  
a, a:hover {
    text-decoration: none !important; 
}
  
.footer-39201 {
    padding-top: 4rem;
    color: #9d9d9d;
    background-color: #f7f7f7;
}
.footer-39201 .subscribe {
    position: relative;
    margin-top: -89px; 
}
.footer-39201 .subscribe .form-control {
    background-color: #e6e6e6;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    height: 55px;
    padding-left: 30px;
    padding-right: 130px;
    border: none;
    color: #000; 
}
.footer-39201 .subscribe .form-control::-webkit-input-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}
.footer-39201 .subscribe .form-control::-moz-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}
.footer-39201 .subscribe .form-control:-ms-input-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}
.footer-39201 .subscribe .form-control:-moz-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px;
}
.footer-39201 .subscribe .btn-submit {
    background: #614ad3;
    height: 40px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 7px;
    right: 7px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
}
.footer-39201 h3 {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    margin-bottom: 20px;
}
.footer-39201 .nav-links li {
    display: block;
    margin-bottom: 10px;
}
.footer-39201 .nav-links li a {
    color: #9d9d9d;
}
.footer-39201 .nav-links li a:hover {
    color: #614ad3;
}
.footer-39201 .social li {
    display: inline-block;
}
.footer-39201 .social li a {
    display: inline-block;
    padding: 10px;
    color: #9d9d9d;
}
.footer-39201 .social li a:hover {
    color: #614ad3;
}
 
/* Jumbotron text overlay image */
.titleOverlay{
    position: absolute;
    top: 20vw;
    left: 20vw;
    transform:  translate(-17vw, -40%);
    color: #FFFF;
    font-weight: bolder;
    font-family: 'lato-regular,sans-serif';
    font-size: 5vw;
    overflow: hidden;
    z-index: 0;
}


/* Styling Home Carousel */
.home-carousel .carousel-overlay{
  position:absolute;
  top: 0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
  width: 100%;
}
.home-carousel .carousel .carousel-indicators li{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin-inline-end: 10px;
    background-color: rgb(37, 124, 255);
}





/* Begin Cart List */
  
  .clearfix {
    content: "";
    display: table;
    clear: both;  
  }
  
  #cart-list .container {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 980px;
  }
  
  #cart {
    width: 100%;
  }
  
  .product {
    border: 1px solid #eee;
    margin: 20px 0;
    width: 100%;
    height: 195px;
    position: relative;
  
    -webkit-transition: margin .2s linear, opacity .2s linear;
    -moz-transition: margin .2s linear, opacity .2s linear;
    -ms-transition: margin .2s linear, opacity .2s linear;
    -o-transition: margin .2s linear, opacity .2s linear;
    transition: margin .2s linear, opacity .2s linear;
  }
  
  .product img {
    width: 100%;
    height: 100%;
  }
  
  .product header, .product .content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: none none solid none;
    float: left;
  }
  
  .product header {
    background: #000;
    margin: 0 1% 20px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 24%;
    height: 195px;
  }
  
  .product header:hover img {
    opacity: .7;
  }
  
  .product:hover button {
    transform: translate(0, -192px);
  }
  
  .product header button {
    transform: translate(0, 0);
    transition: all 0.4s linear;
  }

  #cart-list .btn {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 0;
    width: 100%;
  }
    
  .product .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 140px;
    padding: 0 20px;
    width: 75%;
  }
  
  .product h1 {
    color: #007bff;
    font-size: 25px;
    font-weight: 500;
    margin: 17px 0 20px 0;
  }
  
  .product footer.content {
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
  }
  
  .product footer .price {
    background: #fcfcfc;
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
  }
  
  .product footer .full-price {
    background: #007bff;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
  
    -webkit-transition: margin .15s linear;
    -moz-transition: margin .15s linear;
    -ms-transition: margin .15s linear;
    -o-transition: margin .15s linear;
    transition: margin .15s linear;
  }
  
  .qt, .qt-plus, .qt-minus {
    display: block;
    float: left;
  }
  
  .qt {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
  }
  
  .qt-plus, .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
  }
  
  .qt-plus:hover, .qt-minus:hover {
    background: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .qt-plus:active, .qt-minus:active {
    background: #49d1d1;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .qt-plus {
    line-height: 50px;
  }
  
  .qt-minus {
    line-height: 47px;
  }

  .disabled-aria{
    pointer-events: none;
  }
    
  #site-footer {
    background-color: navajowhite;
    padding: 40px;
    margin: 30px 0 2px 0;
  }
  
  #site-footer h1 {
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-style: none none solid none;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 7px 0;
    padding: 14px 40px;
    text-align: center;
  }
  
  #site-footer h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }
  
  #site-footer h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
/* End Cart List  */




/* Begin Product Detail  */
.preview img {
  max-width: 100%; 
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; 
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; 
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden; 
}
.tab-content img {
  width: 100%;
  animation-name: opacity;
  animation-duration: .7s;
}
.preview-thumbnail li{
  cursor: pointer;
}

.card {
  margin: 50px 0;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; 
}

.product-title, .price, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-left: 20px; 
}

.add-to-cart, .like {
  background: #1475f5;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
}
.add-to-cart{
  width: 170px;
}
.add-to-cart:hover, .like:hover {
  background: #14c1f5;
  color: #fff;
}

.checked-color {
  text-align: center;
  line-height: 2em;
}
.checked-color:before {
  font-family: fontawesome;
  content: "\2713";
  color: #fff;
}

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); 
  } 
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* End Product Detail  */




















/* RESPONSIVE STYLING */
@media screen and (max-width: 576px) {
    .product-imgs-content .carousel, .product-imgs-content .carousel img{
        width: 530px;
        height: 250px;
    }
    .title-price-like_content,
    .title-price .col-12{
        width: 530px;
    }
    .product-imgs-content{
        width: 532px;
    }
    .add-cart-btn .btn-outline-info{
        transform: translate(0,0);
        width: 100%;
    }

    .home-carousel .carousel img, #jumbotron_header img{
        height: 200px;
    }

    .titleOverlay{
        top: 150px;
        left: 20vw;
        transform: translate(-17vw, -40%);    
    }

}

@media screen and (max-width: 768px) {
    .add-cart-btn .btn{
        display: block;
        width: 100%;
    }
    /* Navbar Toggler */
    .navItem{
        padding: 8px 0;
        text-align: start;
    }
    .dropdownItem:hover{
        border: 0;
    }
    .dropdownItem::after{
        content: "\25bc";
        color:rgb(146, 143, 143);
    }

}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; 
  }
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  } 
}