#productCarousel, #productCarousel img{
    width: 240px;
    height: 320px;
}

#productCarousel .carousel-indicators{
    top: auto;
    bottom: -25px;
}

#productCarousel .carousel-indicators li{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    transition: all 0.4s;
}

#productCarousel .carousel-indicators .active{
    border: 4px solid rgb(189, 172, 164);
    transition: all 0.3s;
}

.content {
    width: 242px;
    padding: 0px;
    margin: 3px;
    border: 1px solid rgb(26, 26, 26);
}